In [34]:
import pandas as pd
pd.options.display.max_rows = 999

In [2]:
ls

Untitled.ipynb  city.csv*       hotel.csv*

In [38]:
city = pd.read_csv('city.csv', sep=";", header=None, names=['City_id', 'City'])

In [39]:
city.shape

(6, 2)

In [40]:
city

  City_id       City
0     AMS  Amsterdam
1     ANT  Antwerpen
2     ATH     Athene
3     BAK    Bangkok
4     BAR  Barcelona
5     BER    Berlijn

In [43]:
hotel = pd.read_csv('hotel.csv', sep=";", header=None, names=['City_id', 'Hotel_id', 'Hotel'])

In [44]:
hotel.shape

(196, 3)

In [46]:
hotel.head(3)

  City_id Hotel_id                      Hotel
0     AMS    AMS01     Ibis Amsterdam Airport
1     AMS    AMS02  Novotel Amsterdam Airport
2     ANT    ANT01     Express by Holiday Inn